  <div class="row ">
    <div class="card">
      <div class="card-header">
        <h2>Productos</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            
            <form [formGroup]="productoForm" (ngSubmit)="productFormSubmit()">
              <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
              </div>
              <div class="mb-3">
                <label class="form-label">Stock</label>
                <input type="number" class="form-control" formControlName="stock">
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-success" [disabled]="!this.productoForm.valid">Guardar</button>
              </div>
            </form>
          </div>
          <div class="col-1"></div>
          <div class="col-6">
            <h3>Listado de Productos</h3>
            <table class="table table-sm">

              <tr *ngFor="let product of productos">
                <td>{{product.nombre}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.fechaRegistro | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>
                  <div>
                    <button type="button" class="btn btn-primary btn-sm"  (click)="editProduct(product)">Editar</button> &nbsp;
                  <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct(product.id??0)" >Eliminar</button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
